<div class="optilab-bi-customers" layout-padding flex>
    <md-card>
        <div ng-if="customerCtrl.loading" flex>
            <span>Carregando o relatórios de produtos</span>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>

        <div ng-if="!customerCtrl.loading" layout-align="start center" flex>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Curitiba">
                    <ng-include src="'protected/customers/tables/customersTableEmp1.tpl.html'"></ng-include>
                </md-tab>
                <md-tab label="Cascavel">
                    <ng-include src="'protected/customers/tables/customersTableEmp6.tpl.html'"></ng-include>
                </md-tab>
                <md-tab label="Pato Branco">
                    <ng-include src="'protected/customers/tables/customersTableEmp2.tpl.html'"></ng-include>
                </md-tab>
                <md-tab label="Londrina">
                    <ng-include src="'protected/customers/tables/customersTableEmp5.tpl.html'"></ng-include>
                </md-tab>
            </md-tabs>
        </div>
    </md-card>
</div>