<div class="optilab-bi-customers" layout-padding flex>
    <md-card>
        <div ng-if="customerCtrl.loading" flex>
            <span>Carregando o relatórios de produtos</span>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div ng-if="!customerCtrl.loading" layout-align="start center" flex>
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab" >
                <md-tab label="CWB1"></md-tab>
                <md-tab label="CWB2"></md-tab>
                <md-tab label="CVEL"></md-tab>
                <md-tab label="PBO"></md-tab>
                <md-tab label="LDNA"></md-tab>
                <md-tab label="OPTILAB"></md-tab>
                <md-tab label="GLOBAL"></md-tab>
                <md-tab label="OUTROS"></md-tab>
            </md-tabs>
            <div layout="row" layout-align="center center" layout-padding flex>
                <span flex></span>

                <md-input-container ng-style="tabSeller[selectedTab] == 'Others' ? {'margin-bottom': '-30px'} : {'margin-bottom': '-20px'}">
                    <label>Data base</label>
                    <md-datepicker ng-disabled="customerCtrl.loading || customerCtrl.generating"
                    ng-model="customerCtrl.dateFilter" ng-change="customerCtrl.search()" md-max-date="customerCtrl.maxDate"></md-datepicker>
                </md-input-container>

                <span flex></span>
                
                <md-radio-group class="md-primary" ng-model="customerCtrl.dateType" ng-change="customerCtrl.search()">
                    <md-radio-button ng-value="'billed'">Baixa</md-radio-button>
                    <md-radio-button ng-value="'created'">Emissao</md-radio-button>
                </md-radio-group>

                <span flex></span>
            </div>


            <div layout="row" layout-align="space-around center" flex>
                <span flex></span>
                <md-input-container flex="25">
                    <label>Estado</label>
                    <md-select ng-model="customerCtrl.searchFilters.states" multiple>
                        <md-option ng-repeat="filter in $root.filters | 
                            filterIn: {neighborhood: customerCtrl.searchFilters.neighborhoods, city: customerCtrl.searchFilters.cities} | 
                            unique: 'state' | orderBy: 'state'"
                            ng-value="filter.state">
                            {{filter.state}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="25">
                    <label>Cidade</label>
                    <md-select ng-model="customerCtrl.searchFilters.cities" multiple>
                        <md-option ng-repeat="filter in $root.filters | 
                            filterIn: {state: customerCtrl.searchFilters.states, neighborhood: customerCtrl.searchFilters.neighborhoods} | 
                            unique: 'city' | orderBy: 'city'"
                            ng-value="filter.city">
                            {{filter.city}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="25">
                    <label>Bairro</label>
                    <md-select ng-model="customerCtrl.searchFilters.neighborhoods" multiple>
                        <md-option ng-repeat="filter in $root.filters | 
                            filterIn: {state: customerCtrl.searchFilters.states, city: customerCtrl.searchFilters.cities} | 
                            unique: 'neighborhood' | orderBy: 'neighborhood'" 
                            ng-value="filter.neighborhood">
                            {{filter.neighborhood}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <span flex></span>

                <md-button class="md-primary" ng-click="customerCtrl.cleanFilters()">Limpar</md-button>

                <md-button class="md-icon-button" ng-click="customerCtrl.search()">
                    <md-icon>search</md-icon>
                </md-button>
            </div>
            
            <div class="loading" layout="column" layout-align="center center" layout-padding
                ng-if="!customerCtrl.abstract_customers || customerCtrl.generating">
                    <md-progress-circular md-diameter="40"></md-progress-circular>
                <span>Carregando</span>
            </div>
            
            <ng-include src="'protected/customers/customersTable.tpl.html'"></ng-include>
            <ng-include src="'protected/customers/groupCustomersTable.tpl.html'"></ng-include>
        </div>
    </md-card>
</div>