.optilab-bi-customers {

    md-card{
        padding: 8px;
    }

    table {
        tbody > .md-row:hover {
          background-color: #EEEEEE;
        }
    
        tbody .md-row {
          cursor: pointer !important;
        }
    
        td.md-cell:nth-child(n+2):nth-last-child(n+2), th.md-column:nth-child(n+2):nth-last-child(n+2) {
          padding: 0 24px 0 0 !important;
        }
    
        tr.md-row:focus {
          outline: none;
        }
    }
    

    span{
        &.less{
            color: red;
        }

        &.greater{
            color: green;
        }
    }

}