<div class="optilab-bi-customers" layout-padding flex>
    <md-card>
        <div ng-if="customerCtrl.loading" flex>
            <span>Carregando o relatórios de produtos</span>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>

        <div ng-if="!customerCtrl.loading" layout-align="start center" flex>
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab" >
                <md-tab label="CWB1"></md-tab>
                <md-tab label="CWB2"></md-tab>
                <md-tab label="CVEL"></md-tab>
                <md-tab label="PBO"></md-tab>
                <md-tab label="LDNA"></md-tab>
                <md-tab label="OPTILAB"></md-tab>
                <md-tab label="GLOBAL"></md-tab>
            </md-tabs>
            <ng-include src="'protected/customers/customersTable.tpl.html'"></ng-include>
        </div>
    </md-card>
</div>