<div ng-show="customerCtrl.abstract_groups && !customerCtrl.generating">
    <div class="box-search" layout="row" layout-align="space-between center" flex>
        <md-icon>search</md-icon>
        <md-input-container flex>
            <label>Código ou nome do grupo</label>
            <input type="text" ng-model="customerCtrl.filterNameGroup">
        </md-input-container>
    </div>
    <md-table-container ng-if="customerCtrl.abstract_groups.length" flex>
        <table md-table>
            <thead md-head md-order="customerCtrl.orderTableGroup">
                <tr md-row>
                    <th md-column md-order-by="customer">
                        <span>Grupo</span>
                    </th>
                    <!-- AVG -->
                    <th md-column md-number md-order-by="avg_month_value_last_year" ng-if="customerCtrl.viewType == 'average'">
                        <span>Média Mês Ano Anterior</span>
                    </th>
                    <th md-column md-number md-order-by="avg_month_value_current_year" ng-if="customerCtrl.viewType == 'average'">
                        <span>Média Mês Ano Atual</span>
                    </th>
                    <th md-column md-number md-order-by="value_current_month" ng-if="customerCtrl.viewType == 'average'">
                        <span>Mês Atual</span>
                    </th>
                    <th md-column md-number md-order-by="comparison_value" ng-if="customerCtrl.viewType == 'average'">
                        <span>
                            Tendência
                            <md-icon style="font-size: 23px !important;margin-top: 6px; outline: none;" ng-click="$event.stopPropagation()">
                                help_outline
                                <md-tooltip>Cálculo: Média/dia Ano Atual ÷ Média/dia mês atual </md-tooltip>
                            </md-icon>
                        </span>
                    </th>

                    <!-- YTD -->
                    <th md-column md-number md-order-by="avg_month_qtd_last_year" ng-if="customerCtrl.viewType == 'ytd'">
                        <span>YTD Ano Anterior</span>
                    </th>
                    <th md-column md-number md-order-by="avg_month_qtd_current_year" ng-if="customerCtrl.viewType == 'ytd'">
                        <span>YTD Ano Atual</span>
                    </th>
                    <th md-column md-number md-order-by="ytd_comparison_value" ng-if="customerCtrl.viewType == 'ytd'">
                        <span>
                            % Alcançada
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="group in customerCtrl.abstract_groups | 
                filter: filterCustomers(selectedTab) | filter: {customer: customerCtrl.filterNameGroup} | 
                orderBy: customerCtrl.orderTableGroup | limitTo: paginationGroup[tabSeller[selectedTab]].pageSize : paginationGroup[tabSeller[selectedTab]].page*paginationGroup[tabSeller[selectedTab]].pageSize">
                    <td md-cell>
                        {{group.customer | limitTo: 50}}
                    </td>
                    <!-- AVG -->
                    <td md-cell ng-click="customerCtrl.openGroupCustomerPeriodDetail($event, group, 'last_year')" ng-if="customerCtrl.viewType == 'average'">
                        {{group.avg_month_qtd_last_year | number}} p / {{group.avg_month_value_last_year | currency : R$ : 2}}
                    </td>
                    <td md-cell ng-click="customerCtrl.openGroupCustomerPeriodDetail($event, group, 'current_year')" ng-if="customerCtrl.viewType == 'average'">
                        {{group.avg_month_qtd_current_year | number}} p / {{group.avg_month_value_current_year | currency : R$ : 2}}
                    </td>
                    <td md-cell ng-click="customerCtrl.openGroupDetail($event, group)" ng-if="customerCtrl.viewType == 'average'">
                        {{group.qtd_current_month}} p / {{group.value_current_month | currency : R$ : 2}}
                    </td>
                    <td md-cell ng-click="customerCtrl.openGroupDetail($event, group)" ng-if="customerCtrl.viewType == 'average'">
                        <span ng-if="group.qtd_current_month == -0.0001 || group.avg_month_qtd_current_year == -0.0001"> % / %</span>
                        <div class="status-percentage" layout="row"
                            ng-if="group.qtd_current_month != -0.0001 && group.avg_month_qtd_current_year != -0.0001">
                            <span ng-class="group.comparison_qtd < customerCtrl.minimumRate ? 'less' : 'greater'">
                                {{group.comparison_qtd | percentage: 2}}
                            </span>
                            <span>&nbsp/&nbsp</span>
                            <span ng-class="group.comparison_value < customerCtrl.minimumRate ? 'less' : 'greater'">
                                {{group.comparison_value | percentage: 2}}
                            </span>
                        </div>
                    </td>

                    <td md-cell ng-click="customerCtrl.openGroupCustomerPeriodDetail($event, group, 'last_year')" ng-if="customerCtrl.viewType == 'ytd'">
                        {{group.ytd_qtd_last_year | number}} p / {{group.ytd_value_last_year | currency : R$ : 2}}
                    </td>
                    <td md-cell ng-click="customerCtrl.openGroupCustomerPeriodDetail($event, group, 'current_year')" ng-if="customerCtrl.viewType == 'ytd'">
                        {{group.ytd_qtd_current_year | number}} p / {{group.ytd_value_current_year | currency : R$ : 2}}
                    </td>
                    <td md-cell ng-click="customerCtrl.openGroupDetail($event, group)" ng-if="customerCtrl.viewType == 'ytd'">
                        <span ng-if="group.ytd_qtd_last_year == -0.0001 || group.ytd_qtd_current_year == -0.0001"> % / %</span>
                        <div class="status-percentage" layout="row"
                            ng-if="group.ytd_qtd_last_year != -0.0001 && group.ytd_qtd_current_year != -0.0001">
                            <span ng-class="group.ytd_comparison_qtd < customerCtrl.minimumRateYTD ? 'less' : 'greater'">
                                {{group.ytd_comparison_qtd | percentage: 2}}
                            </span>
                            <span>&nbsp/&nbsp</span>
                            <span ng-class="group.ytd_comparison_value < customerCtrl.minimumRateYTD ? 'less' : 'greater'">
                                {{group.ytd_comparison_value | percentage: 2}}
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <div class="paginator" layout="row" layout-align="end center" flex>
        <md-button class="md-icon-button" ng-click="paginationGroup[tabSeller[selectedTab]].page = paginationGroup[tabSeller[selectedTab]].page - 1" 
        ng-disabled="paginationGroup[tabSeller[selectedTab]].page == 0">
            <md-icon>navigate_before</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="paginationGroup[tabSeller[selectedTab]].page = paginationGroup[tabSeller[selectedTab]].page + 1">
            <md-icon>navigate_next</md-icon>
        </md-button>
    </div>
</div>