<md-dialog class="customer-detail" aria-label="Comentarios">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <md-button ng-click="ctrl.selectedTab = (ctrl.selectedTab - 1)" class="md-icon-button" 
                ng-show="ctrl.selectedTab > 0">
                <md-icon>keyboard_arrow_left</md-icon>
                <md-tooltip>Voltar</md-tooltip>
            </md-button>
            <h2>Detalhes</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex>
        <md-tabs md-selected="ctrl.selectedTab" md-dynamic-height md-border-bottom>
            <md-tab label="Clientes">
                <div class="label" layout="row">
                    <div layout="column">
                        <span class="title">{{ctrl.customer.customer}}</span>
                    </div>
                </div>
                <md-table-container ng-if="ctrl.periods.length" flex>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column>
                                    <span>Mês</span>
                                </th>
                                <th md-column md-number>
                                    <span>Peças</span>
                                </th>
                                <th md-column md-number>
                                    <span>Faturamento</span>
                                </th>
                            </tr>
                            <tr ng-if="ctrl.period == 'last_year'" class="line-selected disable-clickable" md-row>
                                <td md-cell>
                                    {{ctrl.date.getMonth() + 1 | month}} /  {{ctrl.date.getFullYear()}}
                                </td>
                                <td md-cell>
                                    {{ctrl.customer.qtd_current_month | number}}
                                </td>
                                <td md-cell>
                                    {{ctrl.customer.value_current_month | currency : R$ : 2}}
                                </td>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="period in ctrl.periods | orderBy: 'month'"
                                ng-click="ctrl.selectPeriod(period)" 
                                ng-class="period.month == (ctrl.date.getMonth() + 1) && period.year == ctrl.date.getFullYear() ? 'line-selected' : 'none'">
                                <td md-cell>
                                    {{period.month | month}} / {{period.year}}
                                </td>
                                <td md-cell >
                                    {{period.month_qtd | number}}
                                </td>
                                <td md-cell>
                                    {{period.month_value | currency : R$ : 2}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-tab>
            <md-tab label="Linhas">
                <div class="label" layout="row">
                    <div layout="column">
                        <span class="title">{{ctrl.periodSelected.customer}}</span>
                        <span>{{ctrl.periodSelected.month | month}} / {{ctrl.periodSelected.year}}</span>
                    </div>
                </div>
                <md-table-container ng-if="ctrl.periodSelected.lines.length" flex>
                    <table md-table>
                        <thead md-head md-order="ctrl.orderTableLine" md-on-reorder="ctrl.search">
                            <tr md-row>
                                <th md-column md-order-by="product_group">
                                    <span>Linha</span>
                                </th>
                                <th md-column md-number md-order-by="value_current_month">
                                    <span>Mês Selecionado</span>
                                </th>
                                <th md-column md-number md-order-by="current_value">
                                    <span>Mês Atual</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="line in ctrl.periodSelected.lines | orderBy: ctrl.orderTableLine" ng-click="ctrl.selectLine(line)">
                                <td md-cell>
                                    {{line.product_group | limitTo: 50}}
                                </td>
                                <td md-cell>
                                    {{line.qtd_current_month | number}}pçs
                                    <span>&nbsp/&nbsp</span>
                                    {{line.value_current_month | currency : R$ : 2}}
                                </td>
                                <td md-cell>
                                    {{line.current_qtd | number}}pçs
                                    <span>&nbsp/&nbsp</span>
                                    {{line.current_value | currency : R$ : 2}}
                                </td>
                        </tbody>
                    </table>
                </md-table-container>
            </md-tab>
            <md-tab label="Produtos">
                <div class="label" layout="row">
                    <div layout="column">
                        <span class="title">{{ctrl.periodSelected.customer}}</span>
                        <span>{{ctrl.periodSelected.month | month}} / {{ctrl.periodSelected.year}}</span>
                    </div>
                </div>
                <md-table-container ng-if="ctrl.lineSelected.products.length" flex>
                    <table md-table>
                        <thead md-head md-order="ctrl.orderTableProduct" md-on-reorder="ctrl.search">
                            <tr md-row>
                                <th md-column md-order-by="product">
                                    <span>Linha</span>
                                </th>
                                <th md-column md-number md-order-by="value_current_month">
                                    <span>Mês Selecionado</span>
                                </th>
                                <th md-column md-number md-order-by="current_value">
                                    <span>Mês Atual</span>
                                </th>
                            </tr>
                            <tr class="line-selected" md-row  ng-click="ctrl.selectedTab = 0">
                                <td md-cell>
                                    {{ctrl.lineSelected.product_group | limitTo: 50}}
                                </td>
                                <td md-cell>
                                    {{ctrl.lineSelected.qtd_current_month | number}}pçs
                                    <span>&nbsp/&nbsp</span>
                                    {{ctrl.lineSelected.value_current_month | currency : R$ : 2}}
                                </td>
                                <td md-cell>
                                    {{ctrl.lineSelected.current_qtd | number}}pçs
                                    <span>&nbsp/&nbsp</span>
                                    {{ctrl.lineSelected.current_value | currency : R$ : 2}}
                                </td>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="product in ctrl.lineSelected.products | orderBy: ctrl.orderTableProduct" 
                                class="disable-clickable disable-hover-color">
                                <td md-cell>
                                    {{product.product | limitTo: 50}}
                                </td>
                                <td md-cell>
                                    {{product.qtd_current_month | number}}pçs
                                    <span>&nbsp/&nbsp</span>
                                    {{product.value_current_month | currency : R$ : 2}}
                                </td>
                                <td md-cell>
                                    {{product.current_qtd | number}}pçs
                                    <span>&nbsp/&nbsp</span>
                                    {{product.current_value | currency : R$ : 2}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions>
        <div layout="row" layout-align="end" flex>
            <md-button ng-click="ctrl.selectedTab = (ctrl.selectedTab - 1)" class="md-primary" 
                ng-show="ctrl.selectedTab > 0">
                Voltar
            </md-button>
            <div flex></div>
            <md-button  ng-click="ctrl.confirm()">
                PRONTO
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>