<div class="optilab-bi-dashboard" layout-padding flex>
  <md-card flex>
    <div layout="row" flex>
        <div ng-if="dashboardCtrl.loading.billing" flex>
            <span>Carregando o faturamento</span>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div class="business" layout"column" ng-repeat="bil in dashboardCtrl.billing">
            <div class="alias" layout="row" layout-aling="center" flex>
              <span>Faturamento {{bil.business_alias}}</span>
            </div>
            <div class="info" layout="row" layout-align="space-between center">
                <span>Budget</span>
                <span>R$ 956.531.86</span>
            </div>
            <div class="info" layout="row" layout-align="space-between center">
                <span>Faturamento acumulado</span>
                <span>{{bil.value | currency : R$ : 2}}</span>                
            </div>
            <div class="info" layout="row" layout-align="space-between center">
                <span>Porcentagem alcançada</span>
                <span>{{(bil.value / 956531.86) | percentage:2}}</span>                
            </div>
        </div>
    </div>
    <!-- <div layout="row" flex>
        <div ng-if="dashboardCtrl.loading.abstract_products" flex>
            <span>Carregando o Resumo dos produtos</span>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div class="business" layout"column" ng-repeat="emp in dashboardCtrl.abstract_products">
                <div class="info" layout="row" layout-align="space-between center" ng-repeat="product in emp">
                    <span>{{product.description}}</span><span>{{product.amount}}</span>
                </div>
        </div>
    </div> -->
    <div layout="row" flex>
        <div ng-if="dashboardCtrl.loading.abstract_brands" flex>
            <span>Carregando o Resumo dos produtos</span>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div class="business" layout"column" ng-repeat="commpany in dashboardCtrl.abstract_brands">
                <div class="info" layout="row" layout-align="space-between center" ng-repeat="brand in commpany">
                    <div ng-repeat="year in brand">
                        <div ng-repeat="product in year">
                            <span>Valor Fat {{product.year}}</span><span>{{product.value}}</span>
                            <span>Qtd em peças {{product.year}}</span><span>{{product.amount}}</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </md-card>
</div>