<div class="optilab-bi-dashboard" layout-padding flex>
    <md-card flex>
        <div layout="row" layout-xs="column" flex>
            <div ng-if="dashboardCtrl.loading.billing" flex>
                <span>Carregando o faturamento</span>
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            <div class="business" layout="column" ng-repeat="bil in dashboardCtrl.billing" flex>
                <div class="alias" layout="row" layout-align="center" flex>
                    <span>Faturamento {{bil.business_alias}}</span>
                </div>
                <div class="info" layout="row" layout-align="space-between center">
                    <span>Budget</span>
                    <span>R$ 956.531.86</span>
                </div>
                <div class="info" layout="row" layout-align="space-between center">
                    <span>Fat. acumulado</span>
                    <span>{{bil.value | currency : R$ : 2}}</span>
                </div>
                <div class="info" layout="row" layout-align="space-between center">
                    <span>Porcentagem alcançada</span>
                    <span>{{(bil.value / 956531.86) | percentage:2}}</span>
                </div>
            </div>
        </div>
        <!-- <div layout="row" flex>
        <div ng-if="dashboardCtrl.loading.abstract_products" flex>
            <span>Carregando o Resumo dos produtos</span>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div class="business" layout"column" ng-repeat="emp in dashboardCtrl.abstract_products">
                <div class="info" layout="row" layout-align="space-between center" ng-repeat="product in emp">
                    <span>{{product.description}}</span><span>{{product.amount}}</span>
                </div>
        </div>
    </div> -->
        <div layout="row" layout-xs="column" flex>
            <div ng-if="dashboardCtrl.loading.abstract_brands" flex>
                <span>Carregando o Resumo dos produtos</span>
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            <div class="business" ng-repeat="commpany in dashboardCtrl.abstract_brands" flex>
                <div layout="column" ng-repeat="brand in commpany">
                    <div layout="column" ng-if="$first" flex>
                        <div class="alias" layout="row" layout-align="center" 
                            ng-repeat="product in brand['2017'] | limitTo:1" flex>
                            <span>{{product.business_code | companyAlias}}</span>
                        </div>
                    </div>
                    <div layout="column" class="info">
                        <div layout="column"  ng-repeat="product in brand['2017']">
                            <div class="brand">
                                {{product.label}}
                            </div>
                            <div layout="row" layout-align="space-between center">
                                <span>Valor em {{product.year}}</span>
                                <span>{{product.value  | currency : R$ : 2}}</span>
                            </div>
                            <div layout="row" layout-align="space-between center">
                                <span>Peças em {{product.year}}</span>
                                <span>{{product.amount}}</span>
                            </div>
                        </div>
                        <div layout="column" ng-repeat="product in brand['2018']">
                            <div layout="row" layout-align="space-between center">
                                <span>Valor em {{product.year}}</span>
                                <span>{{product.value  | currency : R$ : 2}}</span>
                            </div>
                            <div layout="row" layout-align="space-between center">
                                <span>Peças em {{product.year}}</span>
                                <span>{{product.amount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-card>
</div>