<md-dialog class="customer-detail" aria-label="Comentarios">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <md-button ng-click="ctrl.selectedTab = (ctrl.selectedTab - 1)" class="md-icon-button" 
                ng-show="ctrl.selectedTab > 0">
                <md-icon>keyboard_arrow_left</md-icon>
                <md-tooltip>Voltar</md-tooltip>
            </md-button>
            <h2>Detalhes</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex>
        <div class="label" layout="row">
            <div layout="column">
                <span class="title">
                    <span class="title">
                        {{ctrl.lineSelected.product_group}}
                    </span>
                </span>
            </div>
        </div>
        <md-tabs md-selected="ctrl.selectedTab" md-dynamic-height md-border-bottom>
            <md-tab label="Periods">
                <md-table-container ng-if="ctrl.periods.length" flex>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column>
                                    <span>Mês</span>
                                </th>
                                <th md-column md-number>
                                    <span>Pares</span>
                                </th>
                                <th md-column md-number>
                                    <span>Faturamento</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="period in ctrl.periods | orderBy: 'month'"
                                ng-click="ctrl.selectPeriod(period)" 
                                ng-class="period.month == (ctrl.date.getMonth() + 1) && period.year == ctrl.date.getFullYear() ? 'product-selected' : 'none'">
                                <td md-cell>
                                    {{period.month | month}} / {{period.year}}
                                </td>
                                <td md-cell >
                                    {{period.month_qtd | number}}
                                </td>
                                <td md-cell>
                                    {{period.month_value | currency : R$ : 2}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-tab>
            <md-tab label="Linhas">
                <div class="label" layout="row">
                    <div layout="column">
                        <span class="title">{{ctrl.periodSelected.customer}}</span>
                        <span>{{ctrl.periodSelected.month | month}} / {{ctrl.periodSelected.year}}</span>
                    </div>
                </div>
                <md-table-container ng-if="ctrl.periodSelected.products.length" flex>
                    <table md-table>
                        <thead md-head md-order="ctrl.orderTableLine" md-on-reorder="ctrl.search">
                            <tr md-row>
                                <th md-column md-order-by="product_group">
                                    <span>Linhas</span>
                                </th>
                                <th md-column md-number md-order-by="value_current_month">
                                    <span>Pares</span>
                                </th>
                                <th md-column md-number md-order-by="current_value">
                                    <span>Faturamento</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="product in ctrl.periodSelected.products | orderBy: ctrl.orderTableLine" ng-click="ctrl.selectLine(product)">
                                <td md-cell>
                                    {{product.product_name | underscoreToSpace }}
                                </td>
                                <td md-cell>
                                    {{product.month_qtd | number}}
                                </td>
                                <td md-cell>
                                    {{product.month_value | currency : R$ : 2}}
                        </tbody>
                    </table>
                </md-table-container>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions>
        <div layout="row" layout-align="end" flex>
            <md-button ng-click="ctrl.selectedTab = (ctrl.selectedTab - 1)" class="md-primary" 
                ng-show="ctrl.selectedTab > 0">
                Voltar
            </md-button>
            <div flex></div>
            <md-button  ng-click="ctrl.confirm()">
                PRONTO
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>