<div class="loading" layout="column" layout-align="center center" ng-if="productsCtrl.loading || productsCtrl.generating" flex>
    <md-progress-circular md-diameter="40"></md-progress-circular>
    <br>
    <span ng-if="productsCtrl.loading">Carregando</span>
    <span ng-if="productsCtrl.generating">Os dados da data base selecionada ainda não haviam sido processados.</span>
    <span ng-if="productsCtrl.generating">Aguarde mais um momento.</span>
</div>
<md-table-container ng-if="!productsCtrl.loading && !productsCtrl.generating" flex>
    <table md-table>
        <thead md-head md-order="productsCtrl.orderTable">
            <tr md-row>
                <th md-column md-order-by="product">
                    <span>Produto</span>
                </th>
                <th md-column md-number md-order-by="avg_month_value_last_year">
                    <span>Média Mês Ano Anterior</span>
                </th>
                <th md-column md-number md-order-by="avg_month_value_current_year">
                    <span>Média Mês Ano Atual</span>
                </th>
                <th md-column md-number md-order-by="value_current_month">
                    <span>Mês Atual</span>
                </th>
                <th md-column md-number md-order-by="comparison_value">
                    <span>
                        Tendência
                        <md-icon style="font-size: 23px !important;margin-top: 6px; outline: none;" ng-click="$event.stopPropagation()">
                            help_outline
                            <md-tooltip>Cálculo: Média/dia Ano Atual ÷ Média/dia mês atual </md-tooltip>
                        </md-icon>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="brand in productsCtrl.brands | filter: filterProducts(selectedTab) | 
                orderBy: productsCtrl.orderTable" ng-click="productsCtrl.openBrandDetail($event, brand)">
                <td md-cell>
                    {{brand.product_group | limitTo: 50}}
                </td>
                <td md-cell>{{brand.avg_month_qtd_last_year | number}} p / {{brand.avg_month_value_last_year | currency : R$ : 2}}</td>
                <td md-cell>{{brand.avg_month_qtd_current_year | number}} p / {{brand.avg_month_value_current_year | currency : R$ : 2}}</td>
                <td md-cell>{{brand.qtd_current_month}} p / {{brand.value_current_month | currency : R$ : 2}}</td>
                <td md-cell>
                    <span ng-if="brand.qtd_current_month == -0.0001 || brand.avg_month_qtd_current_year == -0.0001"> % / %</span>
                    <div class="status-percentage" layout="row"
                        ng-if="brand.qtd_current_month != -0.0001 && brand.avg_month_qtd_current_year != -0.0001">
                        <span ng-class="brand.comparison_qtd < 1 ? 'less' : 'greater'">
                            {{brand.comparison_qtd | percentage: 2}}
                        </span>
                        <span>&nbsp/&nbsp</span>
                        <span ng-class="brand.comparison_value < 1 ? 'less' : 'greater'">
                            {{brand.comparison_value | percentage: 2}}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>