.optilab-bi-billing {

    md-card{
        padding: 8px;
    }

    .business{
        margin: 15px 5px;
        border: 2px solid #d9ffd9;
        border-radius: 4px;
        
        .alias{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
            padding: 4px;
            background-color: lightgrey;
        }
    
        .info{
            font-size: 12px;
            font-weight: 300;
            margin: 4px 0px;
        }
    }

    .brand{
        font-size: 15px;
        font-weight: 400;
        background-color: #00602459;
    }

    .btn-budget{
        line-height: 20px;
        min-height: 20px;
        padding: 0px;
        margin: 0px;
        font-size: 10px;
    }


}

.edit-budget-dialog{

    .md-dialog-content{
        padding: 0px;
    }

    .label{
        padding: 10px;
        background-color: lightgray;
        color: dimgrey;
        font-weight: 500;
    }

    .pattern-input{
        padding: 0px 10px;
    }
}