<md-dialog class="edit-budget-dialog" aria-label="Comentarios">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2>{{ctrl.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.close()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <div layout="column" class="label">
                <span>Empresa: {{ctrl.kpi.business_code | companyAlias}}</span>
            </div>
            <form name="manageForm">
                <div class="pattern-input" layout="column">
                    <md-input-container class="md-block no-margin-top down-payment">
                        <label>Média Fat. Diário</label>
                        <input type="tel" ng-model="ctrl.kpi.budget_billing" name="budget_billing"
                                autocomplete="off" ui-money-mask="2" min="1" md-auto-focus>
                    </md-input-container>
                    <md-input-container class="md-block no-margin-top down-payment">
                        <label>Média Núm de Pedidos</label>
                        <input type="tel" ng-model="ctrl.kpi.budget_order_quantity" name="budget_order_quantity"
                                autocomplete="off" min="1" md-auto-focus>
                    </md-input-container>
                    <md-input-container class="md-block no-margin-top down-payment">
                        <label>Média TM</label>
                        <input type="tel" ng-model="ctrl.kpi.budget_tm" name="budget_tm"
                                autocomplete="off" ui-money-mask="2" min="1" md-auto-focus>
                    </md-input-container>
                    <md-input-container class="md-block no-margin-top down-payment">
                        <label>Média Núm. de Peças</label>
                        <input type="tel" ng-model="ctrl.kpi.budget_quantity_pieces" name="budget_quantity_pieces"
                                autocomplete="off" min="1" md-auto-focus>
                    </md-input-container>
                </div>
                    
                <div layout="row" layout-align="end">
                    <md-button ng-click="ctrl.close()">
                        Cancelar
                    </md-button>
                    <md-button class="md-accent" ng-click="ctrl.save()">
                        Salvar
                    </md-button>
                </div>
            </form>
        </md-dialog-content>
    </md-dialog>