<div class="optilab-bi-rate-service" layout-padding flex>
    <md-card>
        <div ng-if="rateServiceCtrl.loading" flex>
            <span>Carregando o relatórios de produtos</span>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>

        <div layout="row" layout-align="space-around" layout-padding flex>
            <md-input-container>
                <label>Data inicial</label>
                <md-datepicker ng-model="rateServiceCtrl.start_date"></md-datepicker>
            </md-input-container>
            <md-input-container>
                <label>Data final</label>
                <md-datepicker ng-model="rateServiceCtrl.end_date"></md-datepicker>
            </md-input-container>
            <md-button class="md-primary" ng-click="rateServiceCtrl.export(1)">Exportar Excel</md-button>
        </div>

        <div layout="column">
            <span>Parametros</span>
            <form name="ratesForm" flex>
                <div layout="row">
                    <md-input-container>
                        <label>Quantidade DC +</label>
                        <input type="number" ng-model="rateServiceCtrl.qtdDcMore" required>
                    </md-input-container>
                    <md-input-container>
                        <label>Quantidade DC -</label>
                        <input type="number" ng-model="rateServiceCtrl.qtdDcLess" required>
                    </md-input-container>
                    <md-input-container>
                        <label>Máximo de dias a considerar</label>
                        <input type="number" ng-model="rateServiceCtrl.maxDaysConsidered" required>
                    </md-input-container>
                    <md-input-container>
                        <label>Hora de corte</label>
                        <input type="number" ng-model="rateServiceCtrl.maxDaysConsidered" required>
                    </md-input-container>
                </div>
                <md-button class="md-primary" ng-click="rateServiceCtrl.openAgreedDates($event)">
                    Abrir datas combinadas
                </md-button>
                
            </form>
        </div>

        <div layout="row">
            <div class="labels" layout="column">
                <span>GRUPO</span>
                <span>ACABADAS</span>
                <span>SURF S/ COL OU VERNIZ</span>
                <span>SURF C/ COL OU VERNIZ</span>
                <span>SURF C/ AR</span>
                <span>DIGITAL GERAL</span>
                <span>VARILUX X</span>
            </div>
            <div class="values" layout="column">
                <span class="label-dc">DC --</span>
                <span>{{rateServiceCtrl.dc.finished.dcLess / rateServiceCtrl.dc.finished.length | percentage: 2}}</span>
                <span>{{rateServiceCtrl.dc.simpleSurf.dcLess / rateServiceCtrl.dc.simpleSurf.length | percentage: 2}}</span>
                <span>{{rateServiceCtrl.dc.advancedSurf.dcLess / rateServiceCtrl.dc.advancedSurf.length | percentage: 2}}</span>
                <span>{{rateServiceCtrl.dc.tratementSurf.dcLess / rateServiceCtrl.dc.tratementSurf.length | percentage: 2}}</span>
                <span>{{rateServiceCtrl.dc.digitalSurf.dcLess / rateServiceCtrl.dc.digitalSurf.length | percentage: 2}}</span>
                <span>{{rateServiceCtrl.dc.variluxX.dcLess / rateServiceCtrl.dc.variluxX.length | percentage: 2}}</span>
            </div>
            <div class="values" ng-repeat="dc in rateServiceCtrl.rangeDc" layout="column">
                <span class="label-dc">{{dc == 0 ? 'DC' : dc}}</span>
                <span>{{rateServiceCtrl.dc.finished[dc] / rateServiceCtrl.dc.finished.length | percentage: 2 }}</span>
                <span>{{rateServiceCtrl.dc.simpleSurf[dc] / rateServiceCtrl.dc.simpleSurf.length | percentage: 2 }}</span>
                <span>{{rateServiceCtrl.dc.advancedSurf[dc] / rateServiceCtrl.dc.advancedSurf.length | percentage: 2 }}</span>
                <span>{{rateServiceCtrl.dc.tratementSurf[dc] / rateServiceCtrl.dc.tratementSurf.length | percentage: 2 }}</span>
                <span>{{rateServiceCtrl.dc.digitalSurf[dc] / rateServiceCtrl.dc.digitalSurf.length | percentage: 2 }}</span>
                <span>{{rateServiceCtrl.dc.variluxX[dc] / rateServiceCtrl.dc.variluxX.length | percentage: 2 }}</span>
            </div>
            <div class="values" layout="column">
                <span class="label-dc">DC ++</span>
                <span>{{(rateServiceCtrl.dc.finished.dcMore / rateServiceCtrl.dc.finished.length) | percentage:2}}</span>
                <span>{{(rateServiceCtrl.dc.simpleSurf.dcMore / rateServiceCtrl.dc.simpleSurf.length) | percentage:2}}</span>
                <span>{{(rateServiceCtrl.dc.advancedSurf.dcMore / rateServiceCtrl.dc.advancedSurf.length) | percentage:2}}</span>
                <span>{{(rateServiceCtrl.dc.tratementSurf.dcMore / rateServiceCtrl.dc.tratementSurf.length) | percentage:2}}</span>
                <span>{{(rateServiceCtrl.dc.digitalSurf.dcMore / rateServiceCtrl.dc.digitalSurf.length) | percentage:2}}</span>
                <span>{{(rateServiceCtrl.dc.variluxX.dcMore / rateServiceCtrl.dc.variluxX.length) | percentage:2}}</span>
            </div>
        </div>
    </md-card>
</div>