.gorillascode-sidenav {
  background-color: #FFF;
  max-width: 60px;
  min-width: 0 !important;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;

  .logo {
    height: 48px;
    display: flex;
    padding: 8px;
    text-align: center;

    img {
      margin: auto;
      max-height: 50px;
      max-width: 100%;
    }
  }

  md-list {
    padding: 0;
  }

  md-list-item {
    p {
      white-space: nowrap;
      opacity: 0;

      transition-property: all;
      transition-duration: 0.7s;
      transition-timing-function: ease-in;
    }
    a.md-button {
      margin: 0;
    }

    &.active {
      background-color: #EEE;
    }
  }

  &:not(.view-more):hover{
    p {
      opacity: 1;
    }

    .logo {
      img {
        max-height: 50px;
      }
    }

    max-width: 250px;
  }

  &.view-more {
    p {
      opacity: 1;
    }

    .logo {
      img {
        max-height: 50px;
      }
    }

    max-width: 250px;
  }

  @media (max-width: 400px) {
    p {
      opacity: 1 !important;
    }

    .logo {
      img {
        max-height: 50px;
      }
    }

    max-width: 250px;
  }
}