
<md-content flex role="navigation">
  <div ng-click="protectedCtrl.viewAllToolbar = !protectedCtrl.viewAllToolbar" class="logo">
      <img src="/assets/images/logo-footer.png">
  </div>
  <md-divider></md-divider>
  <md-list>
    <md-list-item ui-sref="protected.billing" 
                  ng-class="{ active: $state.includes('protected.billing') }">
      <md-icon md-font-icon="material-icons" aria-label="Meus Apps">attach_money</md-icon>
      <p>Faturamento</p>
    </md-list-item>

    <md-list-item ui-sref="protected.products"
                  ng-class="{ active: $state.includes('protected.products') }">
      <md-icon md-font-icon="material-icons" aria-label="Usuários">view_module</md-icon>
      <p>Produtos</p>
    </md-list-item>

    <md-list-item ui-sref="protected.customer"
                  ng-class="{ active: $state.includes('protected.customer') }">
      <md-icon md-font-icon="material-icons" aria-label="Usuários">person</md-icon>
      <p>Clientes</p>
    </md-list-item>

    <!-- <md-list-item ui-sref="protected.rate-service" 
                  ng-class="{ active: $state.includes('protected.rate-service') }">
      <md-icon md-font-icon="material-icons" aria-label="Usuários">timer</md-icon>
      <p>Taxa de serviço</p>
    </md-list-item> -->

    <md-list-item ui-sref="protected.user-management" ng-if="protectedCtrl.userIsAdmin"
                  ng-class="{ active: $state.includes('protected.user-management') }">
      <md-icon md-font-icon="material-icons" aria-label="Usuários">people</md-icon>
      <p>Usuarios</p>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item ng-click="protectedCtrl.logout()">
      <md-icon md-font-icon="material-icons">power_settings_new</md-icon>
      <p>Sair</p>
    </md-list-item>
    
    <md-divider></md-divider>
  </md-list>
</md-content>