<div layout="row" layout-align="space-around" layout-padding flex>
    <md-input-container class="md-block" style="min-width: 150px;">
        <label>Mês de referência</label>
        <md-select ng-model="customerCtrl.dateFilter.month" md-on-close="customerCtrl.search()">
            <md-option ng-value="month.value" ng-repeat="month in customerCtrl.filterOptions.months">
                {{month.label}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="md-block" style="min-width: 150px;">
        <label>Ano de referência</label>
        <md-select ng-model="customerCtrl.dateFilter.year" md-on-close="customerCtrl.search()">
            <md-option ng-value="year" ng-repeat="year in customerCtrl.filterOptions.years">
                {{year}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
    
<div class="customers-actives">
    <div class="header-actives" layout="row" layout-align="center" flex>
        <span>Clientes ativos</span>
    </div>
    <div layout="row" ng-if="customerCtrl.amounts_customers">
        <div class="type-active" layout="column" layout-align="start center" flex>
            <span class="header">Média ano passado</span>
            <span>{{customerCtrl.amounts_customers['1'].average_latest_year | currency : '' : 2}}</span>
        </div>
        <div class="type-active" layout="column" layout-align="start center" flex>
            <span class="header">Mês anterior</span>
            <span>{{customerCtrl.amounts_customers['1'].number_latest_month}}</span>
        </div>
        <div class="type-active" layout="column" layout-align="start center" flex>
            <span class="header">Mês Atual</span>
            <span>{{customerCtrl.amounts_customers['1'].number_current_month}}</span>
        </div>
        <div class="type-active" layout="column" layout-align="start center" flex>
            <span class="header">Dia Anterior</span>
            <span>{{customerCtrl.amounts_customers['1'].number_latest_day}}</span>
        </div>
        <div class="type-active" layout="column" layout-align="start center" flex>
            <span class="header">Hoje</span>
            <span>{{customerCtrl.amounts_customers['1'].number_current_day}}</span>
        </div>
    </div>
    <div class="loading" layout="column" layout-align="center center" ng-if="!customerCtrl.amounts_customers">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
</div>
    
<div class="loading" layout="column" layout-align="center center" layout-padding
    ng-if="!customerCtrl.abstract_customers">
        <md-progress-circular md-diameter="40"></md-progress-circular>
    <span>Carregando</span>
</div>
<div ng-if="customerCtrl.abstract_customers">
    <div class="box-search" layout="row" layout-align="space-between center" flex>
        <md-icon>search</md-icon>
        <md-input-container flex>
            <label>Cód do cliente</label>
            <input type="text" ng-model="filterCod">
        </md-input-container>
        <md-input-container flex="66">
            <label>Nome do cliente</label>
            <input type="text" ng-model="filterName">
        </md-input-container>
    </div>
    <md-table-container ng-if="customerCtrl.abstract_customers" flex>
        <table md-table>
            <thead md-head md-order="customerCtrl.orderTable" md-on-reorder="customerCtrl.search">
                <tr md-row>
                    <th md-column md-order-by="cli_nome_fan">
                        <span>Cliente</span>
                    </th>
                    <th md-column md-order-by="latest_value">
                        <span>Fat. Mês Anterior</span>
                    </th>
                    <th md-column md-order-by="current_value">
                        <span>Fat. Mês</span>
                    </th>
                    <th md-column md-order-by="variation">
                        <span>%</span>
                    </th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="customer in customerCtrl.abstract_customers | 
                filter: {business_code: 6, customer_name: filterName, customer_code: filterCod} | 
                orderBy: customerCtrl.orderTable | limitTo: pagination['6'].pageSize : pagination['6'].page*pagination['6'].pageSize">
                    <td md-cell>
                        {{customer.customer_name}}
                        <md-tooltip>Cód: {{customer.customer_code}}</md-tooltip>
                    </td>
                    <td md-cell>{{customer.latest_value | currency : R$ : 2}}</td>
                    <td md-cell>{{customer.current_value | currency : R$ : 2}}</td>
                    <td md-cell>
                        <span ng-if="customer.variation != 0" class="status-percentage" ng-class="customer.variation < 0 ? 'less' : 'greater'">
                            {{customer.variation | percentage: 2}}
                        </span>
                        <span ng-if="customer.variation == 0">
                            --
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <div ng-hide="filterCod || filterName" class="paginator" layout="row" layout-align="end center" flex>
        <!-- <div class="label-pages" ng-show="(query.page * query.limit) < creditorFilesCtrl.files.limit">
            {{(query.page * query.limit) - (query.limit -1)}} - {{query.page * query.limit}} de {{creditorFilesCtrl.files.limit}}
        </div>
        <div class="label-pages" ng-show="(query.page * query.limit) >= creditorFilesCtrl.files.limit">
            {{(query.page * query.limit) - (query.limit -1)}} - {{creditorFilesCtrl.files.limit}} de {{creditorFilesCtrl.files.limit}}
        </div> -->
        <!-- <md-button class="md-icon-button" ng-click="pagination['1'].page = 0" 
        ng-disabled="pagination['1'].page == 1">
            <md-icon>first_page</md-icon>
        </md-button> -->
        <md-button class="md-icon-button" ng-click="pagination['6'].page = pagination['6'].page - 1" 
        ng-disabled="pagination['6'].page == 0">
            <md-icon>navigate_before</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="pagination['6'].page = pagination['6'].page + 1">
            <md-icon>navigate_next</md-icon>
        </md-button>
        <!-- <md-button class="md-icon-button" ng-click="pagination['1'].page = pagination['1'].last_page" 
        ng-disabled="pagination['1'].page == pagination['1'].last_page">
            <md-icon>last_page</md-icon>
        </md-button> -->
    </div>
</div>